<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/planet-express.png">
    <link rel="stylesheet" href="../static/style/style_forum.css">
    <title>Futurama | Forum</title>
</head>
<body>
    <header id="header">
        <div id="header-overlay">
            <div class="container" style="height: 80px;">
                <h2>Futurama</h2>
                <div id="bars">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <nav id="nav">
                    <ul>
                        <li><a href="/en/forum"><img src="/static/images/country-icon/en.png" name="en" style="width: 34px"></a></li>
                        
                        <li><a href="/ro">Home</a></li>
                        <li><a href="/ro/forum">Forum</a></li>
                        <li><a href="/ro/account">Account</a></li>
                    </ul>
                </nav>

                <div id="right-side-header">
                    <h4>Add section</h4>
    
                    <form action="/section_api/create-section" method="POST">
                        <label for="section">
                            <input type="text" id="section" placeholder="Section Name" name="section" required>
                        </label>
                        <input type="submit" class="addBtn" value="Add">
                    </form>
    
                    <div id="create-post">
                        <h4 style="display: inline-block;">Create post  <span id="upload" class="addBtn" onclick="showPostHeader()">Upload</span></h4>
                        
    
                        <div id="posting_overlay_header">
                            <div id="posting">
                                <div style="float: right;" id="x" onclick="removePostHeader()">×</div>
                                <div style="width: 100%; height: 70px; float: left"></div>
                                
                                <form action="/post_api/create-post" method="POST" enctype="multipart/form-data">
                                    
                                    <h3>Upload a Post</h3>
                                    <label for="title">
                                        <input type="text" id="title" placeholder="Title" name="title" required><br><br>
                                    </label>
                                    <label for="content">
                                        <textarea type="textarea" id="content" placeholder="Content" name="content"></textarea><br><br>
                                    </label>
                                    <label for="media">Upload a file </label>
                                        <input type="file" id="media" name="postMedia"><br><br>
                                    
                                    <label for="sections">Select a section</label>
                                        <select name="section" id="sections">
                                            <% sections.forEach(section => { %>
                                                <option><%= section.title %></option>
                                            <% }) %>
                                        </select><br><br><br>
                                    
                                    <input type="submit" class="addBtn" value="Create Post">
                                </form>
                            </div>
                        </div>
    
                        <script>
                            showPostHeader = () => {
                                document.getElementById("posting_overlay_header").style.display = "block";
                                document.querySelector("body").style.overflow = "hidden";
                            }
    
                            removePostHeader = () => {
                                document.getElementById("posting_overlay_header").style.display = "none";
                                document.querySelector("body").style.overflow = "initial";
                            }
                        </script>
    
                    </div>
                </div>

                <div id="flex-container-header"></div>
                    <div id="section-list-header">
                        <h3>Section List</h3>
                        <ul id="myUL">
                            <a href="/section_api/get-section/?section=all"><li style="padding: 12px; text-align: center;" id="allSection">Select all sections</li></a>
                            
                            <% if (getsection == "all") { %>
                                <script>
                                    document.getElementById("allSection").style.backgroundColor = "#d9d9d9";
                                </script>
                            <% } %>
                            
                            <% sections.forEach(section => { %>
                                <div id="li">
                                    <a href="/section_api/get-section/?section=<%= section.title %>">
                                        <li id="<%= section.title %>section"><%= section.title %></li>
                                    </a>
        
                                    <% if (section.author == id) { %>
                                        <a id="x" href="/section_api/delete-section/?section=<%= section.title %>" title="Delete Section">×</a>
                                    <% } %>
                                </div>
        
                                <% if (section.title == getsection) { %>
                                    <script>
                                        document.getElementById("<%= section.title %>section").style.backgroundColor = "#d9d9d9";
                                    </script>
                                <% } %>
                            <% }) %>
        
                        </ul>
                    </div>
                </div>

            </div>
        </div>

        <script>
        let k = 0;
        document.getElementById("bars").addEventListener("click", () => {
            if (k == 0) {
                document.getElementById("nav").style.display = "block";
                document.getElementById("header").style.height = "fit-content";
                document.getElementById("section-list-header").style.display = "block";
                document.getElementById("right-side-header").style.display = "block";
                document.getElementById("header").style.height = "100vh";
                document.getElementById("header-overlay").style.minHeight = "150vh"
                document.getElementById("header").style.overflow = "auto";
                document.getElementById("forum").style.display = "none";
                document.getElementById("flex-container-header").style.display = "block";
                k = 1;
            } else {
                document.getElementById("nav").style.display = "none";
                document.getElementById("section-list-header").style.display = "none";
                document.getElementById("right-side-header").style.display = "none";                
                document.getElementById("header").style.height = "80px";
                document.getElementById("header").style.overflow = "hidden";
                document.getElementById("forum").style.display = "block";
                document.getElementById("flex-container-header").style.display = "none";
                k = 0;
            }
        });

        window.addEventListener("resize", () => {
            if (window.innerWidth >= 990) {
                document.getElementById("nav").style.display = "block";
                document.getElementById("header").style.height = "80px";
            } else {
                document.getElementById("nav").style.display = "none";
                document.getElementById("section-list-header").style.display = "none";
                document.getElementById("right-side-header").style.display = "none";
                document.getElementById("header").style.height = "80px";
                document.getElementById("header").style.overflow = "hidden";
                document.getElementById("forum").style.display = "block";
                document.getElementById("flex-container-header").style.display = "none";
            }
        });
        </script>
    </header>
    
    <div class="container">
            <div id="section-list">
                <h3>Section List</h3>
                <ul>
                    <a href="/section_api/get-section/?section=all"><li id="allsection">Select all sections</li></a>
                    
                    <% if (getsection == "all") { %>
                        <script>
                            document.getElementById("allsection").setAttribute("id", "section-active");
                        </script>
                    <% } %>
                    
                    <% sections.forEach(section => { %>
                        <div id="li" style="background-color: #eee;">
                            <a href="/section_api/get-section/?section=<%= section.title %>">
                                <li id="section<%= section.title %>"><%= section.title %></li>
                            </a>

                            <% if (section.author == id) { %>
                                <a id="x" href="/section_api/delete-section/?section=<%= section.title %>" title="Delete Section">×</a>
                            <% } %>
                        </div>

                        <% if (section.title == getsection) { %>
                            <script>
                                document.getElementById("section<%= section.title %>").setAttribute("id", "section-active");
                            </script>
                        <% } %>

                    <% }) %>

                </ul>

            </div>

            

            <div id="forum">
                <h3>Forum disscusing topics about Futurama</h3>
                
                <% if (posts == undefined || posts.length == 0) { %>
                    <p>There is no post within this section</p>
                <% } %>
                
                <% posts.forEach(post => { %>
                    <div id="post">
                        <h4>Section: <%= post.section %></h4>
                        <% if (post.author == id) { %>
                            <a id="x" href="/post_api/delete-post/?post=<%= post._id %>" style="padding: 6px 8px;" title="Delete Post">×</a>
                        <% } %>
                        <h3><%= post.title %></h3>

                        <% if (post.media == undefined) { %>
                            <p><%= post.content %></p>
                        <% } else { %>

                            <% if (post.media.split('.').pop() == "mp4" || post.media.split('.').pop() == "gif") { %>
                                <video src="../<%= post.media %>" controls></video>
                            <% } else if (post.media.split('.').pop() == "png" || post.media.split('.').pop() == "jpg" || post.media.split('.').pop() == "jpeg") { %>
                                <img src="../<%= post.media %>" alt="<%= post.media %>">
                            <% } %>

                        <% } %>
                        

                        <hr>
                        <div id="controls">
                            <div id="numbers"></div>
                            <div id="vote">
                                <a id="up-<%= post._id %>" class="up" href="/post_api/up/?post=<%= post._id %>"></a>
                                <div id="text"><%= post.likedBy.length - post.dislikedBy.length %> points</div>
                                <a id="down-<%= post._id %>" class="down" href="/post_api/down/?post=<%= post._id %>"></a>
                                <a id="comments" href="/comment_api/ro/get-post/?post=<%= post._id %>" target="_blank"></a>
                                <div id="text"><%= post.nrComments %> comments</div>
                            </div>
                        </div>
                        <hr>
                    </div>

                    <% post.likedBy.forEach(element => { %>
                        <% if (element == id) { %>
                            <script>
                                document.getElementById("up-<%= post._id %>").setAttribute("id", "up-active");
                            </script>
                        <% } %>
                    <% }); %>

                    <% post.dislikedBy.forEach(element => { %>
                        <% if (element == id) { %>
                            <script>
                                document.getElementById("down-<%= post._id %>").setAttribute("id", "down-active");
                            </script>
                        <% } %>
                    <% }); %>
                <% }) %>
                
            </div>

            <div id="right-side">
                <h4>Add section</h4>

                <form action="/section_api/create-section" method="POST">
                    <label for="section">
                        <input type="text" id="section" placeholder="Section Name" name="section" required>
                    </label>
                    <input type="submit" class="addBtn" value="Add">
                </form>

                <div id="create-post">
                    <h4 style="display: inline-block;">Create post  <span id="upload" class="addBtn" onclick="showPost()">Upload</span></h4>
                    
                    

                    <div id="posting_overlay">
                        <div id="posting">
                            <div style="float: right;" id="x" onclick="removePost()">×</div>
                            <div style="width: 100%; height: 70px; float: left"></div>
                            
                            <form action="/post_api/create-post" method="POST" enctype="multipart/form-data">
                                
                                <h3>Upload a Post</h3>
                                <label for="title">
                                    <input type="text" id="title" placeholder="Title" name="title" required><br><br>
                                </label>
                                <label for="content">
                                    <textarea type="textarea" id="content" placeholder="Content" name="content"></textarea><br><br>
                                </label>
                                <label for="media">Upload a file </label>
                                    <input type="file" id="media" name="postMedia"><br><br>
                                
                                <label for="sections">Select a section</label>
                                    <select name="section" id="sections">
                                        <% sections.forEach(section => { %>
                                            <option><%= section.title %></option>
                                        <% }) %>
                                    </select><br><br><br>
                                
                                <input type="submit" class="addBtn" value="Create Post">
                            </form>
                        </div>
                    </div>

                    <script>
                        showPost = () => {
                            document.getElementById("posting_overlay").style.display = "block";
                            document.querySelector("body").style.overflow = "hidden";
                        }

                        removePost = () => {
                            document.getElementById("posting_overlay").style.display = "none";
                            document.querySelector("body").style.overflow = "initial";
                        }
                    </script>

                </div>
            </div>

    </div>

    <footer>
        <div id="footer-overlay">
            <div class="container">
                <nav>
                    &copy;2020 Valentin Popescu. All Rights Reserved.
                </nav>
            </div>
        </div>
    </footer>
</body>
</html>